{{yield}}
<br>
<table width="400px">
  <tr>
    <td>Номер документа:</td>
    <td>{{doc.numb}}</td>
  </tr>
  <tr>
    <td>Заключен:</td>
    <td>{{doc.startdate}}</td>
  </tr>
  <tr>
    <td>Заканчивает действие:</td>
    <td>{{doc.enddate}}</td>
  </tr>
  <tr>
    <td>Компания:</td>
    <td>{{doc.company}}</td>
  </tr>
  <tr>
    <td>Университет:</td>
    <td>{{doc.university}}</td>
  </tr>
</table>