{{outlet}}

<h1>Страница выбора образовательных программ</h1>

<hr>
{{#sortable-objects sortableObjectList=model sortingScope="Main_list"}}

  {{#each model as |course|}}
    {{course-unit course=course}}
  {{/each}}

{{/sortable-objects}}

<hr>
<h2>Семестр 1:</h2>

<div class="seminar" id="sem1">
  {{#draggable-object-target action=(action "S1_P1")}}
    {{priority-zone classNames="high" course_list=S1_P1}}
  {{/draggable-object-target}}
  {{#draggable-object-target action=(action "S1_P2")}}  
    {{priority-zone classNames="mid"  course_list=S1_P2}}
  {{/draggable-object-target}}
  {{#draggable-object-target action=(action "S1_P3")}}
    {{priority-zone classNames="low"  course_list=S1_P3}}
  {{/draggable-object-target}}
</div>
<h2>Семестр 2:</h2>

<div class="seminar" id="sem2">
  {{#draggable-object-target action=(action "S2_P1")}}
    {{priority-zone classNames="high" course_list=S2_P1}}
  {{/draggable-object-target}}
  {{#draggable-object-target action=(action "S2_P2")}}  
    {{priority-zone classNames="mid"  course_list=S2_P2}}
  {{/draggable-object-target}}
  {{#draggable-object-target action=(action "S2_P3")}}
    {{priority-zone classNames="low"  course_list=S2_P3}}
  {{/draggable-object-target}}
</div>