{{outlet}}

<h1>Страница выбора образовательных программ</h1>

<hr>
{{#sortable-objects sortableObjectList=model sortingScope="Main_list"}}

  {{#each model as |course|}}
    {{course-unit course=course}}
  {{/each}}

{{/sortable-objects}}

Test:
{{#each course_list as |course|}}
  {{course-unit course=course}}
{{/each}}
<hr>
<h2>Семестр 1:</h2>

<div class="seminar" id="sem1">
  {{#draggable-object-target action=(action "addToList") content=item}}
    {{priority-zone classNames="high"}}
    {{priority-zone classNames="mid"}}
    {{priority-zone classNames="low"}}
  {{/draggable-object-target}}
</div>

<h2>Семестр 2:</h2>

<div class="seminar" id="sem2">
  {{#draggable-object-target}}
    {{priority-zone classNames="high"}}
    {{priority-zone classNames="mid"}}
    {{priority-zone classNames="low"}}
  {{/draggable-object-target}}
</div>