{{outlet}}

<h1>Страница выбора образовательных программ</h1>

<hr>
<h2>Семестр 1:</h2>

<div class="seminar" id="sem1">
  {{priority-zone classNames="high"}}
  {{priority-zone classNames="mid"}}
  {{priority-zone classNames="low"}}
</div>

<h2>Семестр 2:</h2>

<div class="seminar" id="sem2">
  {{priority-zone classNames="high"}}
  {{priority-zone classNames="mid"}}
  {{priority-zone classNames="low"}}
</div>

{{#each model as |course|}}
  {{course-unit course=course}}
{{/each}}